<launch>
  <include file="$(find rrl_platform_bringup)/launch/includes/description.launch.xml">
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find rrl_platform_description)/rviz/model.rviz"/>
</launch>
